.cola {
    background-image: url("../assets/cola.jpg");
}

.water {
    background-image: url("../assets/water.jpg");
}


.button-title {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #000;
}

.buttons-container>button {
    border-color: transparent;
    border-radius: 15px;
    padding: 25px 28px;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: 0.2s background ease-in;
}

.buttons-container>button:hover {
    background-position: 25px;
}

.cola-style {
    color: #FE001A;
}

.water-style {
    color: #1F549A;
}

.cola-style,
.water-style {
    font-weight: 600;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}
